# Домен XMPP-сервера (обязательно измените на свой)
DOMAIN=xmpp.example.com # Обязательно смените!

# Администратор ejabberd (JID)
EJABBERD_ADMIN=admin@${DOMAIN}
EJABBERD_ADMIN_PASSWORD=admin123 # Обязательно смените!
EJABBERD_LANG=ru
EJABBERD_SSL_DIR=/home/ejabberd/ssl

# Настройки PostgreSQL
POSTGRES_DB=ejabberd
POSTGRES_USER=ejabberd
POSTGRES_PASSWORD=changeme          # Обязательно смените!

# Coturn (TURN/STUN сервер)
TURN_USER=turn
TURN_PASSWORD=turnpassword
TURN_SECRET=mysecret
TURN_PORT=3478
TURN_TLS_PORT=5349
TURN_MIN_PORT=49152
TURN_MAX_PORT=65535