DOMAIN=changeme.com
# PUBLIC_IP=auto или конкретный IP, например 1.2.3.4
PUBLIC_IP=auto
# Администратор ejabberd (JID)
EJABBERD_ADMIN_JID=admin@${DOMAIN}
EJABBERD_ADMIN_PASSWORD=changeme
EJABBERD_ADMIN_TOKEN=onlygenerated
EJABBERD_LANG=ru

POSTGRES_DB=ejabberd
POSTGRES_USER=ejabberd
POSTGRES_PASSWORD=changeme

# Coturn (TURN/STUN сервер)
# Если нужен статический тестовый пользователь (необязательно)
TURN_USER=turn

TURN_PASSWORD=changeme
TURN_SECRET=changeme
