{
    servers {
        listener_wrappers {
            layer4 {
                @xmpps-client {
                    tls {
                        sni {$DOMAIN}
                        alpn xmpp-client
                    }
                }
                route @xmpps-client {
                    proxy {
                        upstream ejabberd:5223
                    }
                }

                @xmpps-server {
                    tls {
                        sni {$DOMAIN}
                        alpn xmpp-server
                    }
                }
                route @xmpps-server {
                    proxy {
                        upstream ejabberd:5270
                    }
                }
            }
            tls
        }
    }
}

https://{$DOMAIN}:443 {
    root * /var/www/html
    php_fastcgi php:9000

    handle_path /admin/* {
        reverse_proxy ejabberd:5280
    }

    handle_path /http-bind {
        reverse_proxy ejabberd:5280
    }

    handle_path /ws/* {
        reverse_proxy ejabberd:5280
    }

    # для adminer, но лучше через туннель
    handle_path /adminer/* {
        reverse_proxy adminer:8080
    }

    file_server
}