{
    servers {
        listener_wrappers {
            layer4 {
                @xmpps-client {
                    tls {
                        sni {$DOMAIN}
                        alpn xmpp-client
                    }
                }
                route @xmpps-client {
                    proxy {
                        upstream ejabberd:5223
                    }
                }

                @xmpps-server {
                    tls {
                        sni {$DOMAIN}
                        alpn xmpp-server
                    }
                }
                route @xmpps-server {
                    proxy {
                        upstream ejabberd:5269
                    }
                }

            }
            tls
        }
    }
}

https://{$DOMAIN}:443 {

    handle /admin/* {
        reverse_proxy ejabberd:5280
    }
    handle /api/* {
        reverse_proxy ejabberd:5280
    }
    handle /bosh {
        reverse_proxy ejabberd:5280
    }
    handle /ws/* {
        reverse_proxy ejabberd:5280
    }
    
    handle /upload/* {
        reverse_proxy ejabberd:5280
    }

    root * /var/www/html
    php_fastcgi php:9000

    file_server
}

pubsub.{$DOMAIN} {
    reverse_proxy ejabberd:5280
}

upload.{$DOMAIN} {
    reverse_proxy ejabberd:5280
}

conference.{$DOMAIN} {
    reverse_proxy ejabberd:5280
}

chat.{$DOMAIN} {
    reverse_proxy ejabberd:5280
}